{% extends 'base.html' %} {% block head %}
<title>Home Page</title>
{% endblock %} {% block body %}

<div class="home">
  {% for post in posts %}
  <div class="img-card-holder">
    <a href="{{ url_for('post_view', username=post.author.username, post_id=post.id) }}">
      <img
        src="{{ post.post_image }}"
        class="img-card"
      />
    </a>
    <div class="img-card-body">
      <div class="img-title">
        {{ post.title }}
      </div>
      <div class="img-description">
        {{ post.description }}
      </div>
      <div class="poster">Posted by: {{ post.author.username }} user image</div>
      <div class="actions">
        <button class="btn btn-danger btn-block">
          <i class="fas fa-heart"></i> Like
        </button>
        <button class="btn btn-primary btn-block">
          <i class="fas fa-plus"></i> Follow user
        </button>
      </div>
    </div>
  </div>
  {%endfor%}
</div>

{% endblock %}
