{% extends 'base.html' %} {% block head %}
<title>Home Page</title>
{% endblock %} {% block body %}

<div class="home">
  {% for image in images %}
  <div class="img-card-holder">
    <a href="./post.html">
      <img
        src="{{url_for('static', filename='assets/images/' + image)}}"
        class="img-card"
      />
    </a>
    <div class="img-card-body">
      <div class="img-title">
        TITLE
      </div>
      <div class="img-description">
        Image description
      </div>
      <div class="poster">Posted by: User user image</div>
      <div class="actions">
        <button class="btn btn-danger btn-block">
          <i class="fas fa-heart"></i> Like
        </button>
        <button class="btn btn-primary btn-block">
          <i class="fas fa-plus"></i> Follow user
        </button>
      </div>
    </div>
  </div>
  {%endfor%}
</div>

{% endblock %}
