{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
{% endblock %}
{% block body %}
{% if post %}
<div class="main-img" id="post-img">
    <img
      src="{{ post.post_image }}"
      alt="main-post-image"
      class="img-fluid"
    />
    <div class="actions">
      <button class="btn btn-danger">
        <i class="fas fa-heart"></i> Like
      </button>
      <button class="btn btn-primary">
        <i class="fas fa-plus"></i> Follow user
      </button>
    </div>
  </div>
  <div class="img-info" id="post-info">
    <h2 class="title">{{ post.title }}</h2>
    <p class="description">{{ post.description }}</p>
    <p class="post-date">
      Posted on {{ post.date_posted.date() }} by
      <span style="font-size: 1.0rem;"
        ><a href="./profile.html">{{ post.author.username }}</a></span
      >
      <img
        class="avatar-image"
        height="30"
        src="{{ url_for('static', filename='assets/images/profile-image-dummy.jpg') }}"
        alt="user-avatar"
      />
    </p>
  </div>
{% else %}
<h1>POST NOT FOUND</h1>
{% endif %}

{% endblock %}
    

  

