{% extends 'base.html' %}
{% block head %}
<title>Search results</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/followers.css') }}">
{% endblock %}
{% block body %}
{% if users %}
<div>
  <ul class="list-group">
    {% for user in users %}
    <a href="{{ url_for('profile_view', username=user.username) }}">
      <li class="user">
        <div class="user-description">
          <ul>
            <li class="user-detail">{{ user.username }}</li>
            <li class="user-detail">{{ user.posts|length }} posts</li>
            <li class="user-detail">100 followers 100 following</li>
          </ul>
        </div>
        <div class="user-avatar">
          <img
            class="avatar-image"
            src="https://i.pinimg.com/564x/0e/2f/21/0e2f2170e65d2099788c8dbc9be94e0a.jpg"
          />
        </div>
      </li>
    </a>
    {% endfor %}
  </ul>
</div>
{% else %}
<h1>No users found</h1>
{% endif %}
{% endblock %}