.main-img {
  text-align: center;
  margin-bottom: 10px;
  background: #f8f8f8;
  border-radius: 8px;
}

img {
  max-height: 65vh;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.post-date {
  text-align: end;
  font-size: 0.8rem;
}

.actions {
  padding: 20px;
}

.user-likes {
  text-align: left;
  margin: 10px;
}
