.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.follower {
  text-decoration: none;
  color: black;
}

.follower:hover {
  text-decoration: none;
  color: #2f3640;
}

.posts-section {
  font-weight: bold;
  font-size: 1.4rem;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 10px;
  max-height: 55vh;
  background: #f8f8f8;
  padding: 10px;
  margin: 10px 0 10px 0;
  overflow: scroll;
}


@media (max-width: 900px) {
  .user-info {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
}

@media (min-width: 1400px) {
  .img-card-holder {
    width: 20%;
  }
}
