.main-img {
  text-align: center;
  margin-bottom: 50px;
  background: #f8f8f8;
  border-radius: 8px;
}

.title {
  text-align: center;
}

.description {
  font-size: 1.2rem;
}

.post-date {
  text-align: end;
  font-size: 0.8rem;
}

.actions {
  padding: 20px;
}
